<!DOCTYPE html>
<html>
    <head>
        <title>page</title>
    </head>
    <body>
        <h1> id와 이미지를 등록하세요 </h1>
        <br>
        <form method="post" action="/Check/Class" enctype="multipart/form-data">
            <table>
                <label>id : </label>
                <input type="txt" name="id"/>
                <br>
                <br>
                <input type="file" name="photo" id="photo"/>
            </table>
            <br>
            <br>
            <input type="reset" value="reset" name="">
            <input type="submit" value="submit" name="">
        </form>
    </body>
</html>